@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(143, 143, 143);
}
.countainer{
display: flex;
flex-direction: column;
}
::-webkit-scrollbar {
    display: none;
}
/*********************************************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    min-height: 5vh;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255,0.5);
    
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: brown;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 400;
    color: brown;
}



main{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    min-height: 100vh ;
    width: 100%;
    background-color: rgb(161, 161, 161);
    background-image: url(../media/2soldiers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    color: white;

}

footer{
    background-color: rgb(88, 88, 88);
  min-height: 8vh;
  width: 100%;
  padding: 20px;
}
footer div {
    text-align: center;
  }
  
footer a {
    color: #fff;
    text-decoration: none;
  }
  footer i {
    margin: 20px 20px;
    font-size: 25px;
  }
  footer i:hover {
    color: rgb(230, 230, 230);
  }
  @media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(255, 255, 255,0.8);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #left-div{
        display: none;        
    }
    #right-div{
        max-width: 100%;
    }
    #right-div-title{
        font-size: 30px;
         padding: 20px;
    }
 
    #header-p{
        font-size: 20px;
        background-color: rgb(0, 0, 0,0.5);
        color: white;
    padding: 5px;
    border-radius: 10px;
    }
}