#tu-div{
    background-color:  rgb(0, 0, 0,0.5);
    border-radius: 10px;
    height: 50vh;
    width: 50vh;
    font-size: 30px;
}
#tu-div i {
    margin-top: 50px;
    font-size: 150px;
}
#tu-div p {
    margin-top: 50px;
}