
main{
 
    background-color: rgb(161, 161, 161);
    background-image: url(../media/p1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
color: brown;    
font-size: 40px;
}