
main{
 
    background-color: rgb(161, 161, 161);
    background-image: url(../media/p3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
color: brown;    
font-size: 40px;
display: flex;
flex-direction: column;
}
.row-1 ,.row-2 ,.row-3 ,.row-4 ,.row-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
}
.row-1 img{
    max-height:300px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}


.row-2 img{
    max-height:300px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}


.row-3 img{
    max-height:300px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}
.row-4 img{
    max-height:300px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}
.row-5 img{
    max-height:300px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}

